In [1]:
import pickle

enron_data = pickle.load(open("C:/Users/ZZHU/Documents/ud120-projects-master/final_project/final_project_dataset.pkl", 'r'))

In [16]:
import pandas as pd 
import numpy as np
df=pd.DataFrame(enron_data).T

In [47]:
df['full_name'] = df.index

In [53]:
df.reset_index?

In [57]:
df.reset_index(level=0,inplace=True)
df.head(6)

ValueError: cannot insert level_0, already exists

In [123]:
df.head(20)

,level_0,index,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,...,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value,full_name
0,0,ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,...,152,False,126027,-126027,201955,1407,2902,4484442,1729541,ALLEN PHILLIP K
1,1,BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817,BADUM JAMES P
2,2,BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,...,864523,False,1757552,-560222,477,465,566,916197,5243487,BANNANTINE JAMES M
3,3,BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,...,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258,BAXTER JOHN C
4,4,BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,...,69,False,145796,-82782,239671,NaN,NaN,827696,63014,BAY FRANKLIN R
5,5,BAZELIDES PHILIP J,NaN,684694,NaN,NaN,NaN,1599641,NaN,NaN,...,874,False,NaN,NaN,80818,NaN,NaN,860136,1599641,BAZELIDES PHILIP J
6,6,BECK SALLY W,700000,NaN,NaN,NaN,sally.beck@enron.com,NaN,37172,4343,...,566,False,126027,NaN,231330,2639,7315,969068,126027,BECK SALLY W
7,7,BELDEN TIMOTHY N,5249999,2144013,-2334434,NaN,tim.belden@enron.com,953136,17355,484,...,210698,True,157569,NaN,213999,5521,7991,5501630,1110705,BELDEN TIMOTHY N
8,8,BELFER ROBERT,NaN,-102500,NaN,3285,NaN,3285,NaN,NaN,...,NaN,False,NaN,44093,NaN,NaN,NaN,102500,-44093,BELFER ROBERT
9,9,BERBERIAN DAVID,NaN,NaN,NaN,NaN,david.berberian@enron.com,1624396,11892,NaN,...,NaN,False,869220,NaN,216582,NaN,NaN,228474,2493616,BERBERIAN DAVID
10,10,BERGSIEKER RICHARD P,250000,NaN,-485813,NaN,rick.bergsieker@enron.com,NaN,59175,59,...,427316,False,659249,NaN,187922,233,383,618850,659249,BERGSIEKER RICHARD P
11,11,BHATNAGAR SANJAY,NaN,NaN,NaN,137864,sanjay.bhatnagar@enron.com,2604490,NaN,29,...,137864,False,-2604490,15456290,NaN,463,523,15456290,NaN,BHATNAGAR SANJAY
12,12,BIBI PHILIPPE A,1000000,NaN,NaN,NaN,philippe.bibi@enron.com,1465734,38559,40,...,425688,False,378082,NaN,213625,1336,1607,2047593,1843816,BIBI PHILIPPE A
13,13,BLACHMAN JEREMY M,850000,NaN,NaN,NaN,jeremy.blachman@enron.com,765313,84208,14,...,272,False,189041,NaN,248546,2326,2475,2014835,954354,BLACHMAN JEREMY M
14,14,BLAKE JR. NORMAN P,NaN,NaN,-113784,113784,NaN,NaN,1279,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,1279,NaN,BLAKE JR. NORMAN P
15,15,BOWEN JR RAYMOND M,1350000,NaN,-833,NaN,raymond.bowen@enron.com,NaN,65907,27,...,1621,True,252055,NaN,278601,1593,1858,2669589,252055,BOWEN JR RAYMOND M
16,16,BROWN MICHAEL,NaN,NaN,NaN,NaN,michael.brown@enron.com,NaN,49288,41,...,NaN,False,NaN,NaN,NaN,761,1486,49288,NaN,BROWN MICHAEL
17,17,BUCHANAN HAROLD G,500000,NaN,NaN,NaN,john.buchanan@enron.com,825464,600,125,...,1215,False,189041,NaN,248017,23,1088,1054637,1014505,BUCHANAN HAROLD G
18,18,BUTTS ROBERT H,750000,NaN,-75000,NaN,bob.butts@enron.com,NaN,9410,NaN,...,150656,False,417619,NaN,261516,NaN,NaN,1271582,417619,BUTTS ROBERT H
19,19,BUY RICHARD B,900000,649584,-694862,NaN,rick.buy@enron.com,2542813,NaN,1053,...,400572,False,901657,NaN,330546,2333,3523,2355702,3444470,BUY RICHARD B

In [22]:
df_poi= df[df["poi"]==True]

In [23]:
df_poi.shape

(18, 21)

In [26]:
import 'C:/Users/ZZHU/Documents/ud120-projects-master/final_project/poi_email_addresses.py'

SyntaxError: invalid syntax (<ipython-input-26-031f6a62e110>, line 1)

In [39]:
poi_data=pd.read_csv('c:\\Users\\ZZHU\\Documents\\ud120-projects-master\\final_project\\poi_names.txt', sep = ",")

In [41]:
poi_df=pd.DataFrame(poi_data)
poi_df.shape

(35, 1)

In [36]:
pd.read_csv?

In [78]:
stock= df['total_stock_value'][df['full_name']=='PRENTICE JAMES']
stock

109    1095040
Name: total_stock_value, dtype: object

In [79]:
print enron_data["PRENTICE JAMES"]["total_stock_value"]

1095040

In [73]:
enron_data['PRENTICE JAMES'].keys()

['salary',
 'to_messages',
 'deferral_payments',
 'total_payments',
 'exercised_stock_options',
 'bonus',
 'restricted_stock',
 'shared_receipt_with_poi',
 'restricted_stock_deferred',
 'total_stock_value',
 'expenses',
 'loan_advances',
 'from_messages',
 'other',
 'from_this_person_to_poi',
 'poi',
 'director_fees',
 'deferred_income',
 'long_term_incentive',
 'email_address',
 'from_poi_to_this_person']

In [74]:
enron_data['PRENTICE JAMES']['total_stock_value']

1095040

In [80]:
enron_data.len()

AttributeError: 'dict' object has no attribute 'len'

In [81]:
len(enron_data)

146

In [88]:
enron_data['Colwell Wesley'.upper()]['from_this_person_to_poi']

11

In [86]:
len(enron_data.keys())

146

In [89]:
[s for s in enron_data.keys() if "WESLEY" in s]

['COLWELL WESLEY']

In [95]:
print enron_data.keys()

['METTS MARK', 'BAXTER JOHN C', 'ELLIOTT STEVEN', 'CORDES WILLIAM R', 'HANNON KEVIN P', 'MORDAUNT KRISTINA M', 'MEYER ROCKFORD G', 'MCMAHON JEFFREY', 'HORTON STANLEY C', 'PIPER GREGORY F', 'HUMPHREY GENE E', 'UMANOFF ADAM S', 'BLACHMAN JEREMY M', 'SUNDE MARTIN', 'GIBBS DANA R', 'LOWRY CHARLES P', 'COLWELL WESLEY', 'MULLER MARK S', 'JACKSON CHARLENE R', 'WESTFAHL RICHARD K', 'WALTERS GARETH W', 'WALLS JR ROBERT H', 'KITCHEN LOUISE', 'CHAN RONNIE', 'BELFER ROBERT', 'SHANKMAN JEFFREY A', 'WODRASKA JOHN', 'BERGSIEKER RICHARD P', 'URQUHART JOHN A', 'BIBI PHILIPPE A', 'RIEKER PAULA H', 'WHALEY DAVID A', 'BECK SALLY W', 'HAUG DAVID L', 'ECHOLS JOHN B', 'MENDELSOHN JOHN', 'HICKERSON GARY J', 'CLINE KENNETH W', 'LEWIS RICHARD', 'HAYES ROBERT E', 'MCCARTY DANNY J', 'KOPPER MICHAEL J', 'LEFF DANIEL P', 'LAVORATO JOHN J', 'BERBERIAN DAVID', 'DETMERING TIMOTHY J', 'WAKEHAM JOHN', 'POWERS WILLIAM', 'GOLD JOSEPH', 'BANNANTINE JAMES M', 'DUNCAN JOHN H', 'SHAPIRO RICHARD S', 'SHERRIFF JOHN R', 'SHELBY REX', 'LEMAISTRE CHARLES', 'DEFFNER JOSEPH M', 'KISHKILL JOSEPH G', 'WHALLEY LAWRENCE G', 'MCCONNELL MICHAEL S', 'PIRO JIM', 'DELAINEY DAVID W', 'SULLIVAN-SHAKLOVITZ COLLEEN', 'WROBEL BRUCE', 'LINDHOLM TOD A', 'MEYER JEROME J', 'LAY KENNETH L', 'BUTTS ROBERT H', 'OLSON CINDY K', 'MCDONALD REBECCA', 'CUMBERLAND MICHAEL S', 'GAHN ROBERT S', 'MCCLELLAN GEORGE', 'HERMANN ROBERT J', 'SCRIMSHAW MATTHEW', 'GATHMANN WILLIAM D', 'HAEDICKE MARK E', 'BOWEN JR RAYMOND M', 'GILLIS JOHN', 'FITZGERALD JAY L', 'MORAN MICHAEL P', 'REDMOND BRIAN L', 'BAZELIDES PHILIP J', 'BELDEN TIMOTHY N', 'DURAN WILLIAM D', 'THORN TERENCE H', 'FASTOW ANDREW S', 'FOY JOE', 'CALGER CHRISTOPHER F', 'RICE KENNETH D', 'KAMINSKI WINCENTY J', 'LOCKHART EUGENE E', 'COX DAVID', 'OVERDYKE JR JERE C', 'PEREIRA PAULO V. FERRAZ', 'STABLER FRANK', 'SKILLING JEFFREY K', 'BLAKE JR. NORMAN P', 'SHERRICK JEFFREY B', 'PRENTICE JAMES', 'GRAY RODNEY', 'PICKERING MARK R', 'THE TRAVEL AGENCY IN THE PARK', 'NOLES JAMES L', 'KEAN STEVEN J', 'TOTAL', 'FOWLER PEGGY', 'WASAFF GEORGE', 'WHITE JR THOMAS E', 'CHRISTODOULOU DIOMEDES', 'ALLEN PHILLIP K', 'SHARP VICTORIA T', 'JAEDICKE ROBERT', 'WINOKUR JR. HERBERT S', 'BROWN MICHAEL', 'BADUM JAMES P', 'HUGHES JAMES A', 'REYNOLDS LAWRENCE', 'DIMICHELE RICHARD G', 'BHATNAGAR SANJAY', 'CARTER REBECCA C', 'BUCHANAN HAROLD G', 'YEAP SOON', 'MURRAY JULIA H', 'GARLAND C KEVIN', 'DODSON KEITH', 'YEAGER F SCOTT', 'HIRKO JOSEPH', 'DIETRICH JANET R', 'DERRICK JR. JAMES V', 'FREVERT MARK A', 'PAI LOU L', 'BAY FRANKLIN R', 'HAYSLETT RODERICK J', 'FUGH JOHN L', 'FALLON JAMES B', 'KOENIG MARK E', 'SAVAGE FRANK', 'IZZO LAWRENCE L', 'TILNEY ELIZABETH A', 'MARTIN AMANDA K', 'BUY RICHARD B', 'GRAMM WENDY L', 'CAUSEY RICHARD A', 'TAYLOR MITCHELL S', 'DONAHUE JR JEFFREY M', 'GLISAN JR BEN F']

In [94]:
[s for s in enron_data.keys() if "Jeffrey".upper() in s]

['MCMAHON JEFFREY',
 'SHANKMAN JEFFREY A',
 'SKILLING JEFFREY K',
 'SHERRICK JEFFREY B',
 'DONAHUE JR JEFFREY M']

In [96]:
enron_data['SKILLING JEFFREY K']['exercised_stock_options']

19250000

In [97]:
enron_data['SKILLING JEFFREY K']['total_payments']

8682716

In [98]:
[s for s in enron_data.keys() if "lay".upper() in s]

['LAY KENNETH L']

In [101]:
enron_data['LAY KENNETH L']

{'bonus': 7000000,
 'deferral_payments': 202911,
 'deferred_income': -300000,
 'director_fees': 'NaN',
 'email_address': 'kenneth.lay@enron.com',
 'exercised_stock_options': 34348384,
 'expenses': 99832,
 'from_messages': 36,
 'from_poi_to_this_person': 123,
 'from_this_person_to_poi': 16,
 'loan_advances': 81525000,
 'long_term_incentive': 3600000,
 'other': 10359729,
 'poi': True,
 'restricted_stock': 14761694,
 'restricted_stock_deferred': 'NaN',
 'salary': 1072321,
 'shared_receipt_with_poi': 2411,
 'to_messages': 4273,
 'total_payments': 103559793,
 'total_stock_value': 49110078}

In [103]:
print [s for s in enron_data.keys() if s =='NaN']

TypeError: keys() takes no arguments (1 given)

In [112]:
len([enron_data[p]['salary'] for p in enron_data.keys() if enron_data[p]['salary'] != 'NaN'])

95

In [110]:
execs = [s for s in enron_data if ("SKILLING" in s) or ("LAY" in s) or ("FASTOW" in s) ] 
max( [(enron_data[person]['total_payments'],person) for person in execs] )

(103559793, 'LAY KENNETH L')

In [111]:
execs = [s for s in enron_data.keys() if ("SKILLING" in s) or ("LAY" in s) or ("FASTOW" in s) ] 
max( [(enron_data[person]['total_payments'],person) for person in execs] )

(103559793, 'LAY KENNETH L')

In [113]:
len([enron_data[p]['email_address'] for p in enron_data.keys() if enron_data[p]['email_address'] != 'NaN'])

111

In [141]:
no_financial=len([enron_data[p]['salary'] for p in enron_data.keys() if enron_data[p]['total_payments'] == 'NaN'])
print no_financial
no_financial*1.0/len(enron_data.keys())

21

0.14383561643835616

In [125]:
no_financial*1.0/len(enron_data.keys())

0.8561643835616438

In [142]:
no_financial_poi=len([enron_data[p]['salary'] for p in enron_data if enron_data[p]['total_payments'] == 'NaN' and enron_data[p]['poi'] ])
no_financial_poi

0

In [138]:
len([ enron_data[person]['total_payments'] for person in enron_data if (enron_data[person]['poi'])])

18

In [139]:
len( [ enron_data[person]['total_payments'] for person in enron_data if enron_data[person]['total_payments'] =='NaN' ] )

21

In [143]:
len(enron_data)

146